body {
  padding-top: 50px;
}

/* Sidebar */
#sidebar { /*mobile version*/
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 50px;
}

#sidebar .sidebar-text {
  display: none;
}

#sidebar svg {
  fill: gray;
  width: 20px;
  height: 20px;
}

#sidebar a {
  width: 50px;
}
@media (min-width: 768px) { /*desktop verions*/
    #sidebar {
        padding-top: 20px;
        width: 170px;
    }
    #sidebar a {
      width: 170px;
    }
    #sidebar svg {
      fill: gray;
      width: 40px;
      height: 40px;
    }
    #sidebar .sidebar-text {
      display: block;
    }
}

.page-content { /*mobile version*/
  padding-right: 15px;
  padding-left: 65px;
}

@media (min-width: 768px) { /*desktop version*/
  .page-content {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 210px;
  }
}
